* {
    /* border: 1px solid black; */
}

html, body {
    margin: 0;
    height: 100%;
}

.program-page {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
    height: 100%;
}

.program-01 {
    background-image: url(../image/sea_image_evening.JPG);
}

.program-02 {
    background-image: url(../image/sea_image_evening_02.JPG);
}

.program-03 {
    background-image: url(../image/sea_image_morning.JPG);
}

.program-04 {
    background-image: url(../image/sea_image_night.JPG);
}

.eggs {
    max-width: 1000px;
    text-align: center;
}

.program {
    margin-top: 70px;
    /* padding: 80px 0 0 80px;
    float: left;   
    width: 30%;  */
    box-sizing: border-box;
}

.program-introduction {
    font-size: 25px;
    /* float: right;
    width: 70%; */
    box-sizing: border-box;
    padding-top: 50px;
}